.sidebar {
    height: 100%;
    width: 350px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(167, 226, 255);
    /* background-color: rgb(0, 0, 48); */
    z-index: 1;
}

.sidebarIcon {
    height: 30px;
    background-color: rgb(112, 112, 252);
    border-radius: 5px;
}

.heading {
    color: blueviolet;
    font-size: 25px;
    margin-left: 5px;
    font-family: Helvetica, sans-serif;
}

.logo {
    height: 65px;
    margin-left: 30px;
}

.sidebarNav {
    display: flex;
    height: 65px;
    align-items: center;
    margin-left: 10px;
}

.homepageLogo{
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}